{% load styles %}
{% load getattribute %}

{% with url_name='views.kcidb.builds' id=build.iid %}
  <tr class="d-flex border-left-{{ build.valid|get_style|getattribute:'color' }}  {{ build.valid|get_style|getattribute:'row' }}">
    <td class="col-1"  align="left">
      {{ build.valid|get_style|getattribute:'icon'|safe }}
    </td>
    {% include 'tables/cell_clickable.html' with size='3' text=build.id extra_attr='align="center"' %}
    {% include 'tables/cell_clickable.html' with size='8' text=build.get_architecture_display %}
  </tr>
{% endwith %}
