{% load getattribute %}
{% load styles %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <tbody>
      {% for result in results %}
        {% with output_files=result.output_files.all url="#" %}
          <tr class="d-flex border-left-{{ result.status|get_style|getattribute:'color' }} {{ result.status|get_style|getattribute:'row' }} rotate"
            data-target="#collapse-logs-{{ result.id|slugify }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander">
            <td class="col-1 clickable-cell" data-target="#collapse-logs-{{ result.id|slugify }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander" align="right">
              <div class="row">
                <div class="col-6 rotate" align="left">
                  {% if output_files %}
                    <i class="fas fa-chevron-right chevron"></i>
                  {% endif %}
                </div>
                <div align="col-6" align="right">
                  {{ result.status|get_style|getattribute:'icon'|safe }}
                  {% if result.issues.exists %}
                    <i class="fas fa-bug text-danger" title="Has issues associated"></i>
                  {% endif %}
                </div>
              </div>
            </td>
            {% include 'tables/cell_clickable.html' with size='3' text=result.id %}
            {% include 'tables/cell_clickable.html' with size='8' text=result.name %}
          </tr>
          {% if output_files %}
          <tr class="collapse" id="collapse-logs-{{ result.id|slugify }}" aria-expanded="true">
            <td colspan="12">
              <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
                <tbody>
                {% for log in output_files %}
                <tr>
                  <td>{{ log.name }}</td>
                  <td><a href="{{ log.url }}">{{ log.url }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
          {% endif %}
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
