{% extends "base.html" %}

{% block title %}
404 Not Found
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-0">It looks like you found the void...</p>
    {% if not user.is_authenticated %}
    <p class="text-gray-700 mb-2">Did you try <a href="{% url 'login' %}?next={{ request.get_full_path }}">logging in</a>?</p>
    {% endif %}
    <a href="/">&larr; Back to Dashboard</a>
</div>
{% endblock %}
