<div class="collapse {% if filters %}show{% endif %}" id="collapseFilter">
  <div class="card card-body mb-2">
    <form action="#" method="GET">
      <div class="form-group">
        <label for="input_email">Contact Email address</label>
        <input class="form-control" name="filter_email" id="input_email" placeholder="name@redhat.com" value="{{ filters.filter_email }}">
      </div>
      <div class="form-group">
        <label for="input_gittree">Git Trees</label>
        <select multiple class="form-control" name="filter_gittrees" id="input_gittree">
          {% for tree in gittrees %}
            <option {% if tree.name in filters.filter_gittrees %}selected="selected"{% endif %}>{{ tree.name }}</option>
          {% endfor %}
        </select>
      </div>

      {% if architectures %}
      <div class="form-group">
        <label for="input_architecture">Architectures</label>
        <select multiple class="form-control" name="filter_architectures" id="input_architecture">
          {% for arch in architectures %}
          <option {% if arch.value in filters.filter_architectures %}selected="selected"{% endif %} value="{{ arch.value }}">{{ arch.name }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      {% if git_branches %}
      <div class="form-group">
        <label for="input_git_branch">Git Branches</label>
        <select multiple class="form-control" name="filter_git_branches" id="input_git_branch">
          {% for git_branch in git_branches %}
          <option {% if git_branch in filters.filter_git_branches %}selected="selected"{% endif %} value="{{ git_branch }}">{{ git_branch }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      <div class="form-group">
        <label for="input_scratch">Scratch</label>
        <select multiple class="form-control" name="filter_scratch" id="input_scratch" size="2">
          <option {% if filters.filter_scratch == 'True' %}selected="selected"{% endif %} value="True">True</option>
          <option {% if filters.filter_scratch == 'False' %}selected="selected"{% endif %} value="False">False</option>
        </select>
      </div>

      <div class="text-right">
        {% if filters %}
        <a href="?" class="btn btn-warning" role="button">Clear</a>
        {% endif %}
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </form>
  </div>
</div>
