{% load email %}
<div class="card shadow mb-2">
  <a href="#collapse-report-{{report.id}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse-report-{{report.id}}">
    <h6 class="m-0 font-weight-bold ">
        <i class="fas fa-envelope-open-text"></i>
        {{ report.subject|decode_header }}
    </h6>
  </a>
  <div class="collapse" id="collapse-report-{{ report.id }}" style="">
    <div class="card-body">
      <pre class="wrapped">
        {{ report.body }}
      </pre>
    </div>
  </div>
</div>
