{% extends "base_single_card.html" %}

{% block title %}
Login
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control form-control-user" name="username" id="username" placeholder="Enter Username...">
  </div>
  <div class="form-group">
    <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password" autocomplete="off">
  </div>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
  <input type="hidden" name="next" value="{{ next }}">
  <hr>
  {% if FF_SAML_ENABLED %}
  <a href="{% url 'saml2_login' %}?next={{ next }}" class="btn btn-secondary btn-user btn-block">Login with {{ SAML_NAME }}</a>
  <hr>
  {% endif %}
  <small>
  <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  {% if FF_SIGNUP_ENABLED %}
  <p><a href="{% url 'account.signup' %}">Create an account</a></p>
  {% endif %}
  </small>
</form>
{% endblock %}
