{% extends "base_single_card.html" %}

{% block title %}
Delete Account
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Delete Account</h1>
</div>

<div class="alert alert-danger" role="alert">
  This action can't be undone!
</div>

<div class="form-group">
  <div class="row">
    <div class="col-8">
      <form action="{% url 'account.user.settings' %}">
        <input type="submit" class="btn btn-block btn-secondary" value="Cancel">
      </form>
    </div>
    <div class="col-4">
      <form method="POST" action="{% url 'account.user.delete' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-block btn-danger" value="Delete">
      </form>
    </div>
  </div>
</div>
{% endblock %}
